header{
	width:100%;
	height:100px;
}
#sc_user{
	width: 100%;
	text-align: right;
	padding:5px 0px;
}
#sp_user{
	margin:30px;
}

#sp_user>a{
	color: #000000;
	font-size:12pt;
}

#sp_user>a:hover{
	text-decoration: none;
}
#sp_user>a:visitied{
	color: #000000;
	
}

#sc_search{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align :center;
}

#ic_search_bar{
	border: 0.5px solid #cccccc;
	width:80%;
	height:40px;
	border-radius:40px;
	color:#333333;
	text-align:center;
	display:inline-block;
	vertical-align: middle;
	margin:0px 15px;
}
#ic_search_btn{
	width:40px;
	height:40px;
	display:inline-block;
	vertical-align: middle;
}