*{padding:0;margin:0;}


#float_btn {
    z-index: 989;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    transition: .3s ease;
}

#float_btn:hover {
    box-shadow: 4px 4px 5px #999;
}