#sc_signup{
	display:block;
	width : 100%;
	height: 100%;
	background-image: url("../image/signup.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    position : relative;
	z-index:-10;
}
#sc_overlay{
	width:100%;
	height:100%;
	background-color : rgba(0, 0, 0, 0.3);
	position : absolute;
	z-index:-5;
}
#sc_signup_box{
	width : 25%;
	height : 50%;
/*	background-color : #ffffff;*/
	border : 2px solid #ffffff;
	position : absolute;
	top : 0;
	left : 0;
	bottom : 0;
	right : 0;
	margin:auto;
}
#form_signup{

	
}
#form_signup>input{
	
	border:none;
	background-color : rgba(0, 0, 0, 0);
	color: #ffffff;
	border-bottom : 1px solid #ffffff;
	display:block;
}